streamlit
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
pypdf
groq
langchain-text-splitters
torch
torchvision
langchain-chroma
langchain-groq
langgraph
python-dotenv
gtts
faster-whisper
streamlit-mic-recorder